@use "../util" as u;


body {
  color: var(--charcoal);
  font-size: u.rem(18); 
  line-height: 1.4;
  font-weight: 300;
  font-family: u.$font-din-black;
  overflow-x: hidden;
  margin:0;
  padding:0;
}


#resume {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  .profile {
    position: absolute;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: left;
    p {
      a {
        color: hsl(240, 100%, 50%) !important;
      }
    }
  }
  h1 {
    margin:0;
    padding:0;
  }
  .footer {
    height: 10vh;
    width: 100%;
    border-top: u.rem(1) solid var(--charcoal);
    .height10vh {
      height: 10vh;
    }
  }
}

#beginHorizonScroll {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  font-weight: 300;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--charcoal);
  color: var(--white);  
  border-right: none !important;
  .content {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center; 
    align-items: start;
    flex-direction: column;
    text-align: left;
    figure {
      @include u.breakpoint-down(small) {
        margin:0 auto;
      }
      img {
        border-radius: u.rem(15);
        -webkit-border-radius: u.rem(15);
        -moz-border-radius: u.rem(15);
        -ms-border-radius: u.rem(15);
        -o-border-radius: u.rem(15);
        @include u.breakpoint-down(small) {
          height: 70vh;
        }
      }
    }
  }
  .footer {
    left: 0;
    height: 10vh;
    width: 100%;
    border-top: u.rem(1) solid var(--white);
    p {
      margin:0;
      font-size: 2vh;
    }
    .height10vh {
      height: 10vh;
    }
  }
}


.lastPage {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  p {
    color: var(--charcoal);
    a {
      color: hsl(240, 100%, 50%) !important;
    }
  }
  .timeupdate {
    color: #565656;
    font-size: 1vh;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
}